.footer {
  width: 87%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10rem 0 2rem;
  text-align: center;

  &__logo {
    width: 60px;
    padding-bottom: 1rem;
    align-self: center;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &--link {
      padding-top: 2rem;
      color: hsl(210, 10%, 33%);

      &:hover {
        color: hsl(171, 66%, 44%);
      }
    }
  }
}

.social__links {
  width: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-top: 4rem;

  &--link img {
    color: hsl(171, 66%, 44%);
  }
}
